@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:wght@200&family=Oxygen:wght@400;700&display=swap');

/*rest code (browsers) */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My code */
* {
    text-decoration: none;
}

/* Moves page below fixed header */
main {
    padding-top: 100px;
}

/* Position locks the header to top of screen */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.788);
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: 'Kanit';
    font-size: 24px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.774);
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: 'Bebas Neue';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.774);
    text-transform: uppercase;  
}

header .header-cases {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
    margin: 30px 0;
    text-align: left;
    line-height: 40px;
    padding: 0px 20px 0px 40px;
    border-right: 3px solid grey;
    float: left
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    
    header nav ul li a {
        line-height: 60px;   
    }

    header .header-cases {
        display: block;
        font-family: 'Kanit';
        font-size: 16px;
        color: rgba(0, 0, 0, 0.774);
        text-transform: uppercase;
        line-height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.774);
        float: right;
        margin-right: 0 20px;
        margin-top: 29px;
        padding: 0 20px;
    }
}

/* index */

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('rockall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: 'Bebas Neue';
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
    }

.index-banner h1 {
    font-family: 'Bebas Neue';
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
}

.index-banner h5 {
    font-family: 'Oxygen';
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
}

/* Link buttons */
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .parent button {
    background-color: grey;
    color: white;
    border: black;
    padding: 15px;
    font-family: 'Bebas Neue';
    font-size: 31px;
    height: 130px;
    width: 450px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    text-transform: uppercase;
  }
  
  .parent button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .parent button:not(:first-child) {
    margin-top: 10px;
  }

  /* Home button at bottom of page*/
  .parent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .parent1 button {
    background-color: grey;
    color: white;
    border: none;
    padding: 5px;
    font-size: 12px;
    height: 30px;
    width: 100px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .parent1 button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .parent button:not(:first-child) {
    margin-top: 10px;
  }
  
  .round-1 {
    border-radius: 20%;
  }

/* News/Sports */

.story-links {
    font-family: 'Bebas Neue';
    font-size: 16px;
    font-weight: 900;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.774);
    text-align: center;
}

.story-links h6 {
    font-family: 'Bebas Neue';
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #e3e3e3;
    text-align: center;
}

/* story link */

.link-story {
    width: 100%;
    height: 80px;
    background-image: url('stock.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link-story-text {
    color: white;
}

.banner-card {
  display: block;
  position: relative;
}

.banner-card img {
  max-width: 100%;
  height: auto;
}

.banner-text {
  font-family: 'Oxygen';
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  position: absolute;
  top: 10%;
  color: #fff;
  padding: 10px;
}

.banner-text h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Story text */

.report-text {
    font-family: 'Oxygen';
    font-size: 16px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.774);
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

/* Footer */

footer {
    width: calc(100% - 30px);
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.774);
    margin-top: 20px;
    overflow: hidden;
}

.footer-vertical-center {
    font-family: 'Bebas Neue';
    font-size: 20px;
    font-weight: 600;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.788); 
    text-align: center;
}

.footer-sm {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
}

